		h1, h2, p {
			color:white;
			background-color:black;
		}
		h1 {
		color:red;
			font-size:64px;
			background-color:yellow;
		}
		.abc {
			font-size:32px;
		}
		.def {
			font-size:300%;
		}
		#aaa{
			color:red;
			background-color:yellow;
		}